# TUPLES

- tuples are immutable
- syntax is empty_tuple=()

In [2]:
## create a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [3]:
# another way of creating a tuple
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [4]:
number=tuple([1,2,3,4,5,6,7])
print(number)
print(type(number))

(1, 2, 3, 4, 5, 6, 7)
<class 'tuple'>

In [6]:
# also a tuple can be converted into a list
tpl = (1,2,3,4,5,6)
list(tpl)

[1, 2, 3, 4, 5, 6]

In [8]:
mixed_tuple=(1, "Hello Python", 3.14, True)
print(mixed_tuple)
print(type(mixed_tuple))

(1, 'Hello Python', 3.14, True)
<class 'tuple'>

In [9]:
## accessing tuple elements
number

(1, 2, 3, 4, 5, 6, 7)

In [10]:
number[0]
number[-1]
number[0:4]
number[::]
number[::-1]

(7, 6, 5, 4, 3, 2, 1)

In [11]:
## tuple operations
mixed_tuple

(1, 'Hello Python', 3.14, True)

In [12]:
# concantination of tuples
number + mixed_tuple

(1, 2, 3, 4, 5, 6, 7, 1, 'Hello Python', 3.14, True)

In [13]:
number * 3

(1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7)

In [14]:
## mutable nature of tuple
## tuple are immutable they wont change once assigned

lst=[1,2,3,4,5]
print(lst)

lst[1]="Brayden"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Brayden', 3, 4, 5]

In [15]:
number

(1, 2, 3, 4, 5, 6, 7)

In [16]:
number[1]='brayden'

TypeError: 'tuple' object does not support item assignment

In [21]:
### tuple method
print(number)
print(number.count(1))

print(number.index(3))

(1, 2, 3, 4, 5, 6, 7)
1
2

In [26]:
# packing or unpacking tuple

#packing a tuple
packed_tuple=1,"Hello", 3.14,True
print(packed_tuple)

# unpacking tuple
a,b,c,d=packed_tuple

print(a)
print(b)
print(c)
print(d)

(1, 'Hello', 3.14, True)
1
Hello
3.14
True

In [29]:
## unpacking wth *

numbers = 1,2,3,4,5,6
numbers

first,*middle,last=numbers

print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [32]:
# nested tuples
# check on list first

lst=[[1,2,3,4],[6,7,8,9],[1,'Hello',3.14,'c']]
lst[0][0:3]

[1, 2, 3]

In [33]:
lst=[[1,2,3,4],[6,7,8,9],(1,'Hello',3.14,'c')]
lst[2][0:3]

(1, 'Hello', 3.14)

In [34]:
lst=((1,2,3,4),(6,7,8,9),(1,'Hello',3.14,'c'))
lst[2][0:3]

(1, 'Hello', 3.14)

In [37]:
## iteraing over nested tuples
nested_tuples=((1,2,3,4),(6,7,8,9),(1,'Hello',3.14,'c'))

for sub_tuple in nested_tuples:
    for item in sub_tuple:
        print(item, end=' ')
    print()

1 2 3 4
6 7 8 9
1 Hello 3.14 c