## SETS
built in data types used to store collections of unique items. They are unordered, meaning they do not follow a specific order, and they do not allow duplicates use full for membership tests, eliminating duplicates, performin mathematical sets of operations like union, intersection, difference and symmetric difference

In [3]:
## create a set
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [6]:
# empty set
empty_set=set()
print(type(empty_set))

<class 'set'>

In [9]:
empty_set=set([1,2,3,6,4,4,5,6])
print(empty_set)
print(type(empty_set))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [12]:
## Basic set operations
## add or remove elements

my_set.add(7)
print(my_set)
my_set.add(7)
print(my_set)


my_set.remove(3)
print(my_set)

{1, 2, 3, 4, 5, 7}
{1, 2, 3, 4, 5, 7}
{1, 2, 4, 5, 7}

In [13]:
my_set.remove(3)
print(my_set)

KeyError: 3

In [15]:
my_set.discard(11)
print(my_set)

{1, 2, 4, 5, 7}

In [16]:
# pop method
removed_element=my_set.pop()
print(removed_element)
print(my_set)

1
{2, 4, 5, 7}

In [17]:
# clear alle elements
my_set.clear()
print(my_set)

set()

In [18]:
## set membership test
my_set={1,2,3,4,5,6}
print(3 in my_set)
print(10 in my_set)

True
False

In [20]:
## mathematicak operational
set1={1,2,3,4,5,6,7}
set2={6,7,8,9,10,11}

## union
union = set1.union(set2)
print(union)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [21]:
## intersection
intersection = set1.intersection(set2)
print(intersection)

{6, 7}

In [22]:
## 
set1.intersection_update(set2)
print(set1)

{6, 7}

In [24]:
set1={1,2,3,4,5,6,7}
set2={6,7,8,9,10,11}

#difference
print(set1.difference(set2))

#diference_update
print(set1.difference_update(set2))

{1, 2, 3, 4, 5}
None

In [25]:
## symmetric difference
## only the uniques elements from both sets are combined
set1={1,2,3,4,5,6,7}
set2={6,7,8,9,10,11}

set1.symmetric_difference(set2)

{1, 2, 3, 4, 5, 8, 9, 10, 11}

In [28]:
## sets method
set1={1,2,3}
set2={3,4,5}

print(set1.issubset(set2))
print(set1.issuperset(set2))

False
False

In [29]:
## exercise
lst = [1,2,2,3,4,4,5]
set(lst)

{1, 2, 3, 4, 5}

In [33]:
## counting unique words in text
text="In this tutorial we are discussing about sets"
words=text.split()

# convert list of words into set
unique_word=set(words)
print(unique_word)
print(len(unique_word))

{'sets', 'we', 'In', 'this', 'about', 'tutorial', 'discussing', 'are'}
8